ul {
  list-style-type: none;
  padding: 0; 
}

li {
  margin-bottom: 10px; 
}

.wrap {
  margin: 0 auto;
  text-align: center;
}

.todolist {
  display: flex;
  justify-content: center;
  gap : 50px;
}

